

<!-- TODO:  angular material la navegacion -->



  <!-- <mat-sidenav-container fullscreen>
    <mat-toolbar class="custom-toolbar">
        <button mat-icon-button id="menu-toggle" (click)="toggleSidebar()">
          <mat-icon>menu</mat-icon>
        </button>
      
        <span class="spacer"></span>
      
        <button mat-button>
          Logout
        </button>
      </mat-toolbar>

  </mat-sidenav-container> -->

      <!-- <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="btn btn-primary" id="menu-toggle" (click)="toggleSidebar()">Toggle Sidebar</button>
      </nav>
      <div class="container-fluid">
        <h1 class="mt-4">Contenido Principal</h1>
      </div>
    </div>
   -->