.bg-blue {
    background-color: #235FBF !important;
    font-family: 'Times New Roman', Times, serif;
    }

    .btn-color {
        background-color: #235FBF;
        /* background-color: red; */
    }