th {
    background-color: #6C94D4 !important;
    color: hwb(180 94% 0%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


