
<nav class="col col-lg-12 text-left">
  <div class="card-body">
      <h2 class="text-success">OPERADORA</h2>
  </div>
  <ol _ngcontent-egs-c125="" class="breadcrumb ">
    <li aria-current="page" class="breadcrumb-item text-sm">
      <a routerlink="/shared/operadora/editar" ng-reflect-router-link="/operadora/editar" href="/shared/operadora/admin"
        >INICIO</a
      >
    </li>
    <li aria-current="page" class="breadcrumb-item active text-sm"> EDITAR </li>
  </ol>
</nav>

<div class="">
  <ul type="none" class="flex flex-row w-full m-0 p-0 ">
    <li (click)="changeVentana(true)" class="w-6 p-2 m-2 edit-operadora" [ngClass]="{'cambioColor': ventana }">
      Editar Datos Operadora
    </li>
    <li (click)="changeVentana(false)" class="w-6 p-2 m-2 edit-representante"  [ngClass]="{'cambioColor': !ventana }" >
      Cambiar Representante Operadora
    </li>
  </ul>
</div>


<div class="mt-3  p-3 ">
  <!-- <ope-registro-formulario   *ngIf="ventana; else otraVentana">
  </ope-registro-formulario> -->
  <form  [formGroup]="operadoraEdicionForm" *ngIf="ventana; else otraVentana" (ngSubmit)="SendEdicionOperadora()"  autocomplete="off"  >
    <div class="bg-gradient agrupador-representante p-2 w-full flex flex-row mb-4">

      <div class="w-8 p-2 mr-2 text-center content-operadora mat-elevation-z8">
        <h3 class="text-center  pt-2"> OPERADORA</h3>

        <mat-form-field class="w-5 m-2">
          <mat-label>NOMBRE DE LA OPERADORA</mat-label>
          <input  matInput placeholder="Nombre de la operadora"
          formControlName = "nombreOpe" />
        </mat-form-field>

        <mat-form-field class="w-5 m-2">
          <mat-label>RUC DE LA OPERADORA</mat-label>
          <input type="text" matInput placeholder="Ruc de la operadora"
          formControlName = "rucOpe"  />
        </mat-form-field>

        <mat-form-field class="w-5 m-2">
          <mat-label>TELEFONO 1</mat-label>
          <input type="text" matInput placeholder="telefono 1"
          formControlName = "telefono1Ope"  />
        </mat-form-field>

        <mat-form-field class="w-5 m-2">
          <mat-label>TELEFONO 2</mat-label>
          <input type="text" matInput placeholder="telefono 2"
          formControlName = "telefono2Ope"  />
        </mat-form-field>

        <mat-form-field class="w-5 m-2">
          <mat-label>Campo Pendinte</mat-label>
          <input type="text" matInput placeholder="Dirección"
          formControlName = "direccionOpe" />
        </mat-form-field>

        <mat-form-field class="w-5 m-2">
          <mat-label>DIRECCIÓN</mat-label>
          <input type="text" matInput placeholder="Dirección"
          formControlName = "direccionOpe" />
        </mat-form-field>

        <mat-form-field class="w-8 m-2">
          <mat-label>OBSERVACIÓN</mat-label>
          <textarea
            matInput
            placeholder="Escriba la observación aquí..."
            formControlName="observacionOpe" >
          </textarea>
        </mat-form-field>
      </div>

      <div class="w-4 p-2 mr-2 content-representante">
        <h3 class=" text-center pt-2 w-full"> REPRESENTANTE</h3>
        <mat-form-field class="w-full p-2">
          <mat-label>NOMBRES DEL REPRESENTANTE</mat-label>
          <input  matInput placeholder="Nombres del representante"
          formControlName = "nombres" />
        </mat-form-field>

        <mat-form-field class="w-full p-2">
          <mat-label>APELLIDOS</mat-label>
          <input  matInput placeholder="Apellidos del representante"
          formControlName = "apellidos" />
        </mat-form-field>

        <mat-form-field class="w-full p-2">
          <mat-label>EMAIL</mat-label>
          <input matInput placeholder="Email"
          formControlName = "email" />
        </mat-form-field>

        <mat-form-field class="w-full p-2">
          <mat-label>TELEFONO</mat-label>
          <input  matInput placeholder="telefono"
          formControlName = "telefono" />
        </mat-form-field>
      </div>

    </div>

    <button  type="submit" class="ml-2 btn-naranja" mat-button mat-flat-button color="primary">
      <mat-icon>save</mat-icon>
      Guardar Cambios
    </button>
  </form>


  <ng-template #otraVentana>
    <ope-representante></ope-representante>
  </ng-template>

</div>


