<p> cont-visualizar works! </p>

<!-- <table class="table table-striped table-sm mat-elevation-z8">

   <thead class="">
    <tr>
        <th class="col" >columna 1</th>
        <th class="col" >columna 2</th>
        <th class="col" >columna 3</th>
        <th class="col" >columna 4</th>
    </tr>
   </thead>
   <tbody>
    <tr>
        <td>pert 1</td>
        <td>pert 2</td>
        <td>pert 3</td>
        <td>pert 4</td>
    </tr>
    <tr>
        <td>pert 11</td>
        <td>pert 22</td>
        <td>pert 33</td>
        <td>pert 44</td>
    </tr>
   </tbody>

</table> -->
<table mat-table  [dataSource]="dataSource">

    <ng-container matColumnDef="dicon_codigo">
        <th mat-header-cell *matHeaderCellDef> Código </th>
        <td mat-cell *matCellDef="let element"> {{element.dicon_codigo}} </td>
    </ng-container>
    <ng-container matColumnDef="dicon_numero">
        <th mat-header-cell *matHeaderCellDef> Nª Contrato </th>
        <td mat-cell *matCellDef="let element"> {{element.dicon_numero}} </td>
    </ng-container>
    <ng-container matColumnDef="dicon_fecha_firma">
        <th mat-header-cell *matHeaderCellDef> Fecha Firma </th>
        <td mat-cell *matCellDef="let element"> {{element.dicon_fecha_firma | date :'dd/MM/yyyy' }} </td>
    </ng-container>
    <ng-container matColumnDef="dictp_codigo_tipo_contrato">
        <th mat-header-cell *matHeaderCellDef> Tipo Contrato </th>
        <td mat-cell *matCellDef="let element"> {{element.dictp_codigo_tipo_contrato}} </td>
    </ng-container>

  

    <ng-container matColumnDef="dicon_cantidad">
        <th mat-header-cell *matHeaderCellDef> Cantidad </th>
        <td mat-cell *matCellDef="let element"> {{element.dicon_cantidad}} </td>
    </ng-container>

    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef> Verificado </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox color="primary" disabled="true"
                        
                        (change)="$event ? seleccionada.toggle(row) : null"
                        [checked]="seleccionada.isSelected(row)">
                        
          </mat-checkbox>
        </td>
      </ng-container>



   
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr> 
     
</table> 

<button mat-raised-button color="primary" (click)="getSelectedRowInfo()">Obtener Información Seleccionada</button>

<!-- 
(click)="$event.stopPropagation()" -->