<nav class="col col-lg-12 text-left">
    <div class="card-body">
        <h2 class="text-success">OPERADORA</h2>
    </div>
    <ol _ngcontent-egs-c125="" class="breadcrumb">
      <li aria-current="page" class="breadcrumb-item">
        <a routerlink="/inicio" ng-reflect-router-link="/inicio" href="#/inicio"
          >INICIO</a
        >
      </li>
      <li aria-current="page" class="breadcrumb-item active">
        <a> REGISTRO </a></li>
    
    </ol>
  </nav>
  
<ope-registro-formulario (myEventOperadora)="registroOperadoraForm($event)" ></ope-registro-formulario>
