/* .marb {
    margin-bottom: 1rem !important;
    padding-bottom: 1rem;
} */

th {
    background-color: #1B93E3 !important;
    color: hwb(180 94% 0%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bg-blue {
background-color: #235FBF !important;
font-family: 'Times New Roman', Times, serif;
}

.tamanio {
    font-size: 1.1rem !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

.btn-color {
    background-color: #235FBF;
}

mat-checkbox{
    margin: 0 !important;
}


.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  h2{
    font-size: 1.4rem;
    font-weight: 600;
   
  }

  
  @media only screen and (max-width: 768px) {
    /* Ajustes para pantallas pequeñas */
    .mat-header-cell, .mat-cell {
      padding: 8px;
      font-size: 12px;
    }
    table {
      width: 100%;
    }
  }
