<nav class="col col-lg-12 text-left">
    <div class="card-body">
        <h2 class="text-success">DOCUMENTOS</h2>
    </div>
    <ol _ngcontent-egs-c125="" class="breadcrumb">
      <li aria-current="page" class="breadcrumb-item">
        <a   
          >LISTADO</a
        >
      </li>
      
    </ol>
  </nav>
  
  <div class=" mb-4">
      <ul type="none" class="flex flex-row w-full m-0 p-0 ">
        <li (click)="changeVentana(true)" class="w-6 p-2 m-2 edit-operadora"  [ngClass]="{'cambioColor': ventana }" >
          Contrato
        </li>
        <li (click)="changeVentana(false)" class="w-6 p-2 m-2 edit-representante"  [ngClass]="{'cambioColor': !ventana }" >
          Extension
        </li>
      </ul>
  </div>

  <doc-comp-listado-contratos *ngIf="ventana; else otraVentana"></doc-comp-listado-contratos>
  <ng-template #otraVentana>
    <doc-comp-listado-extensiones></doc-comp-listado-extensiones>
  </ng-template>
  
 
