
<div class="mat-elevation-z8 ">
    <h2 class="bg-blue fs-3 text-white  h-4rem align-items-center d-flex justify-content-center" > EDITAR EXTENSIONES </h2>
      <form class="text-center" >
  
       <div>
        <mat-form-field class="mt-2 ml-3 w-4 ">
          <mat-label>Operadora</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let cont of contratos"
              [value]="cont.dicon_codigo" >
              {{ cont.dicon_codigo }}
            </mat-option>
          </mat-select>
        </mat-form-field>
       </div>
          <div >
            <mat-form-field class="mt-2 ml-3 w-4 ">
              <mat-label>Contrato</mat-label>
              <mat-select>
                <mat-option
                  *ngFor="let cont of contratos"
                  [value]="cont.dicon_codigo" >
                  {{ cont.dicon_codigo }}
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field class="mt-2 ml-3 w-4">
              <mat-label>Fecha de Inicio</mat-label>
              <input matInput [matDatepicker]="picker" formControlName = "fechaVigente" (dateChange)="retornarFecha($event.value)"  />
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
         </div>
  
         <div>
          <mat-form-field  class="mt-2 ml-3 w-4">
            <mat-label> Numero Autorización </mat-label>
            <input type="text" matInput placeholder="Numero Autorización" />
          </mat-form-field>
  
          <mat-form-field  class="mt-2 ml-3 w-4">
            <mat-label> Cantidad  </mat-label>
            <input type="number" matInput placeholder="Cantidad" />
          </mat-form-field>
         </div>
  
         <div>     
          <mat-form-field  class="mt-2 ml-3 w-4">
            <mat-label> Cantidad Verificada  </mat-label>
            <input type="number" matInput placeholder="Cantidad Verificada" />
          </mat-form-field>
          <mat-form-field  class="mt-2 ml-3 w-4">
            <mat-label> Valor Unitario </mat-label>
            <input type="number" matInput placeholder="Valor Unitario" />
          </mat-form-field>
         </div>
  
         <div>
          <button type="submit" mat-button class="btn-color  my-4 text-white" > 
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M240-80q-50 0-85-35t-35-85v-120h120v-560h600v680q0 50-35 85t-85 35H240Zm480-80q17 0 28.5-11.5T760-200v-600H320v480h360v120q0 17 11.5 28.5T720-160ZM360-600v-80h360v80H360Zm0 120v-80h360v80H360ZM240-160h360v-80H200v40q0 17 11.5 28.5T240-160Zm0 0h-40 400-360Z"/>
            </svg>
            Guardar Cambios        
          </button>
         </div>
  
      </form>
  </div>
